
.cursor-pointer{
    cursor: pointer;
}
.font-weight-500{
    font-weight: 500;
}
.color-red{
    color: #f00;
}
.color-blue{
    color: blue;
}
.input-border-blue {
    border-color: blue;
}
.width-50{
    width: 50%;
}

.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}

.login-form {
    margin: auto;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 1px #b8b8b8;
}
.login-head {
    text-align: center;
    font-size: 30px;
}
img.logo-login {
    width: 150px;
}
img.nav-logo {
    width: 50px;
}
input.form-control.input-border-blue.error-fill {
    border: 2px solid #f00 !important;
}

select.form-control.input-border-blue.error-fill {
    border: 2px solid #f00;
}

textarea.form-control.input-border-blue.error-fill {
    border: 2px solid #f00;
}

.signup-form {
    margin: auto;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 1px #b8b8b8;
}
.signup-head {
    text-align: center;
    font-size: 30px;
}
.enquiry-form {
    margin: auto;
    width: 80%;
    border: 1px solid #0d6efd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 1px #b8b8b8;
}
.enquiry-head {
    text-align: center;
    font-size: 30px;
}

.enquiry-title {
    color: blue;
    border: 2px solid blue;
    width: fit-content;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
}

img.logo-enquiry {
    width: 150px;
}
.admission-form {
    margin: auto;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 1px #b8b8b8;
}
.admisson-head {
    text-align: center;
    font-size: 30px;
}

.session-form {
    margin: auto;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 1px #b8b8b8;
}
.session-head {
    text-align: center;
    font-size: 30px;
}
img.logo-admission {
    width: 150px;
}

.session-list {
    margin: auto;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 1px #b8b8b8;
}
.session-list-head {
    text-align: left;
    font-size: 30px;
}

.course-form {
    margin: auto;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 1px #b8b8b8;
}
.course-head {
    text-align: center;
    font-size: 30px;
}


.course-list {
    margin: auto;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 1px #b8b8b8;
}
.course-list-head {
    text-align: left;
    font-size: 30px;
}